<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>{{page.title}}</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<!--slider-->
<link href="css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
</head>
<body>
<div class="header">
  <div class="wrap"> 
	<div class="header-top">
		 <div class="logo">
			 <h1><a href="index">tuitgenerator</a></h1>
		 </div>
		 <div class="clear"></div> 
	   </div>
   </div>	
</div>
      <!------ Slider ------------>
   <div class="about-banner">
      <div class="wrap">
		   <div class="cssmenu">
				<ul>
				   <li><a href="index"><span>Inicio</span></a></li>
				   <li><a href="sobre-el-proyecto"><span>Sobre el proyecto</span></a></li>
				   <li><a href="sobre-el-autor"><span>Sobre el autor</span></a></li>
				   <li><a href="http://tuitgenerator.evaristogz.com" targer="_blank"><span>Visitar el proyecto</span></a></li>
				  <div class="clear"></div>
			   </ul> 
	       </div>
	  </div>
   </div>
		<!------End Slider ------------>
  <div class="main">
	 <div class="wrap">
		<div class="content-bottom">
			 <div class="top-box">
				<h2>{{page.encabezado}}</h2>
				<hr>
				<p>{{page.introduccion}}</p>
			 </div>
		    <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					<div class="hover_img">
					  <img src="images/box1.jpg" alt=""/>
					</div>
					<div class="caption">
                       <h3>{{page.enlacebox1}}</h3><br>
                        <hr class="hr">
                        <p>{{page.box1}}</p>
                    </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="hover_img">
					  <img src="images/box2.jpg" alt=""/>
					</div>
					<div class="caption">
                        <h3>{{page.enlacebox2}}</h3><br>
                        <hr class="hr">
                        <p>{{page.box2}}</p>
                    </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="hover_img">
					  <img src="images/box3.jpg" alt=""/>
					</div>
					<div class="caption">
                       <h3>{{page.enlacebox3}}</h3><br>
                        <hr class="hr">
                        <p>{{page.box3}}</p>
                    </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="hover_img">
						<img src="images/box4.jpg" alt=""/>
					</div>
					<div class="caption">
                        <h3>{{page.enlacebox4}}</h3><br>
                        <hr class="hr">
                        <p>{{page.box4}}</p>
                    </div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	  </div>
   </div>
	</div>
	<div class="footer">
		<div class="wrap">
			<div class="footer-text">
				<p>{{page.footer}}</p>
				<div class="copy">
					<p> © 2013 All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
				</div>
			</div>	
		</div>
	</div>
</body>
</html>

    	
    	
            